@import "base/colors";
@import "base/typography";
@import "base/viewports";
@import "base/mixins";

.guide {
    color: $dark;
    width: 100%;
    height: 100%;
    background: url("~src/assets/images/auditorium-cropped.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;

    @include respond((max: $md-break)) {
        height: auto;
        min-height: 100%;
        padding-top: 95px;
        padding-bottom: 50px;
        justify-content: flex-start;
    }

    &__backdrop {
        position: absolute;
        height: 82%;
        width: 100%;
        left: 0;
        top: 0;
        background: transparent linear-gradient(180deg, $wild-sand 0%, rgba($wild-sand, 0.84) 41%, rgba($wild-sand, 0.44) 79%, rgba($wild-sand, 0) 100%) 0 0 no-repeat padding-box;
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;

        > button, > .button {
            margin-top: 70px;

            @include respond((max: $md-break)) {
                margin-top: 25px;
            }

            @include respond((max: $sm-break)) {
                width: 95%;
            }
        }
    }

    &__copy {
        width: 680px;
        max-width: 100%;
        text-align: center;

        h1 {
            margin-bottom: 0;
        }
    }

    &__figures {
        gap: 80px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
        max-width: 100%;
        justify-content: center;

        @include respond((max: $xxl-break)) {
            gap: 50px;
        }

        @include respond((max: $xl-break)) {
            gap: 30px;
        }

        @include respond((max: $md-break)) {
            gap: 10px;
            margin-top: 20px;
            flex-direction: column;
        }
    }

    &__figure {
        flex: 1;
        padding: 40px 60px;
        text-align: center;
        border-radius: 3px;
        min-width: 295px;
        max-width: calc(100%/3);
        background: rgba($white, 0.9);

        @include respond((max: $xl-break)) {
            min-width: 240px;
            padding: 20px 30px;
        }

        @include respond((max: $md-break)) {
            min-width: 185px;
            max-width: 90%;
            padding: 10px;
        }

        &--touch {
            display: none;

            @media (hover: none) {
                display: block;
            }
        }

        &:not(&--touch) {
            @media (hover: none) {
                display: none;
            }
        }

        img {
            display: inline-block;
            height: 65px;
            width: auto;
        }

        &__title {
            color: $panasonic-blue;
            font-size: 20px;
            margin-top: 12px;
            @include font-heading();

            @include respond((max: $md-break)) {
                margin-top: 0;
            }
        }

        &__subtitle {
            font-size: 18px;
            margin-top: 2px;
            color: $grey;
        }
    }
}
