@import "base/colors";
@import "base/typography";

.guide {
    color: $dark;
    width: 100%;
    height: 100%;
    background: url("~src/assets/images/auditorium-cropped.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__backdrop {
        position: absolute;
        height: 82%;
        width: 100%;
        left: 0;
        top: 0;
        background: transparent linear-gradient(180deg, $wild-sand 0%, rgba($wild-sand, 0.84) 41%, rgba($wild-sand, 0.44) 79%, rgba($wild-sand, 0) 100%) 0 0 no-repeat padding-box;
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > button {
            margin-top: 70px;
        }
    }

    &__copy {
        width: 680px;
        max-width: 100%;
        text-align: center;

        h1 {
            margin-bottom: 24px;
        }
    }

    &__figures {
        gap: 80px;
        display: flex;
        margin-top: 70px;
    }

    &__figure {
        padding: 40px 60px;
        min-width: 220px;
        text-align: center;
        border-radius: 3px;
        background: rgba($white, 0.9);

        img {
            display: inline-block;
            height: 65px;
            width: auto;
        }

        &__title {
            color: $panasonic-blue;
            font-size: 20px;
            margin-top: 12px;
            @include font-heading();
        }

        &__subtitle {
            font-size: 18px;
            margin-top: 2px;
        }
    }
}
