<div class="guide">
    <div class="guide__copy">
        <h1>Nullam nulla eros ultricies sit</h1>
        <div>
            Sed aliquam ultrices mauris. Duis vel nibh at velit scelerisque suscipit. Donec interdum, metus et hendrerit aliquet,
            dolor diam sagittis ligula, eget egestas libero turpis vel mi. Aenean viverra rhoncus pede. Etiam ut purus mattis mauris sodales aliquam.
        </div>
    </div>
    <div class="guide__figures">
        <div class="guide__figure">
            <img src="assets/images/left-mouse.png">
            <div class="guide__figure__title">Left mouse button</div>
            <div class="guide__figure__subtitle">to rotate</div>
        </div>
        <div class="guide__figure">
            <img src="assets/images/right-mouse.png">
            <div class="guide__figure__title">Right mouse button</div>
            <div class="guide__figure__subtitle">to zoom</div>
        </div>
        <div class="guide__figure">
            <img src="assets/images/middle-mouse.png">
            <div class="guide__figure__title">Middle mouse button</div>
            <div class="guide__figure__subtitle">to pan</div>
        </div>
    </div>
    <button>Launch guide</button>
</div>
