<div class="guide">
    <div class="guide__backdrop"></div>
    <div class="guide__inner">
        <div class="guide__copy" *ngIf="sector && menu && menu[sector]?.guide">
            <h1 [innerHTML]="menu[sector]?.guide"></h1>
        </div>
        <div class="guide__figures">
            <div class="guide__figure">
                <img src="assets/images/left-mouse.svg">
                <div class="guide__figure__title">Left mouse button</div>
                <div class="guide__figure__subtitle">to rotate</div>
            </div>
            <div class="guide__figure">
                <img src="assets/images/right-mouse.svg">
                <div class="guide__figure__title">Right mouse button</div>
                <div class="guide__figure__subtitle">to zoom</div>
            </div>
            <div class="guide__figure">
                <img src="assets/images/middle-mouse.svg">
                <div class="guide__figure__title">Middle mouse button</div>
                <div class="guide__figure__subtitle">to pan</div>
            </div>
            <div class="guide__figure guide__figure--touch">
                <img src="assets/images/touch-one-finger.svg">
                <div class="guide__figure__title">One finger drag</div>
                <div class="guide__figure__subtitle">to rotate</div>
            </div>
            <div class="guide__figure guide__figure--touch">
                <img src="assets/images/touch-two-fingers.svg">
                <div class="guide__figure__title">Two finger drag</div>
                <div class="guide__figure__subtitle">to pan</div>
            </div>
            <div class="guide__figure guide__figure--touch">
                <img src="assets/images/touch-pinch.svg">
                <div class="guide__figure__title">Pinch</div>
                <div class="guide__figure__subtitle">to zoom</div>
            </div>
        </div>
        <a class="button primary"
            [routerLink]="menu[sector].scenes[0].alias"
            *ngIf="sector && menu && menu[sector]?.scenes?.length"
        >
            Launch
        </a>
    </div>
</div>
