.toolbar {
    &__spacer {
        flex: 1 1 auto;
    }

    button {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}

mat-drawer-container {
    min-height: 100%;
}

mat-drawer-content {
    min-height: 100%;
}

mat-drawer {
    width: 35%;
    max-width: 100%;
}

.drawer {
    padding: 30px 20px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            margin-bottom: 0;
        }
    }

    hr {
        margin: 30px 0;
    }
}
