<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'" class="drawer">
        <div class="drawer__header">
            <h1 class="drawer__header__title">Hotspot Drawer</h1>
            <button mat-raised-button color="primary" (click)="drawer.close()"><mat-icon>close</mat-icon> Close</button>
        </div>
        <hr>
        <div class="drawer__content">
            <app-drawers [hotspotKey]="hotspotKey"></app-drawers>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar class="toolbar" color="primary">
            <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
            <span class="toolbar__title">Angular + BabylonJs</span>
            <span class="toolbar__spacer"></span>
            <button mat-raised-button (click)="playAnimation()"><mat-icon>play_circle</mat-icon> Play animation</button>
            <button mat-raised-button (click)="pauseAnimation()"><mat-icon>stop_circle</mat-icon> Pause animation</button>
            <button mat-raised-button (click)="resetAnimation()"><mat-icon>refresh</mat-icon> Reset animation</button>
        </mat-toolbar>

        <app-scene></app-scene>

        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
