@import 'mixins';

/*//////////////////////////////////////////////////////////////////////////////
|| Font Declaration
//////////////////////////////////////////////////////////////////////////////*/
@font-face {
	font-family: "icon--font";
	src: url('icon--font.eot');
	src: url('icon--font.eot?#iefix') format('eot'),
		url('icon--font.woff') format('woff'),
		url('icon--font.ttf') format('truetype');
}

.icon--bars-light {
	@include icon(bars-light);

	&.icon-after {
		&::before {
			content: none;
			display: none;
		}
		@include icon(bars-light, after);
	}
}
.icon--chevron-right {
	@include icon(chevron-right);

	&.icon-after {
		&::before {
			content: none;
			display: none;
		}
		@include icon(chevron-right, after);
	}
}
.icon--close {
	@include icon(close);

	&.icon-after {
		&::before {
			content: none;
			display: none;
		}
		@include icon(close, after);
	}
}
.icon--tick {
	@include icon(tick);

	&.icon-after {
		&::before {
			content: none;
			display: none;
		}
		@include icon(tick, after);
	}
}
