/*//////////////////////////////////////////////////////////////////////////////
|| Mixins / Placeholders / Functions
//////////////////////////////////////////////////////////////////////////////*/
@mixin icon-styles {
    font-family: "icon--font";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    line-height: 1;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == bars-light {
        $char: "\E001";
    }
    @if $filename == chevron-right {
        $char: "\E002";
    }
    @if $filename == close {
        $char: "\E003";
    }
    @if $filename == tick {
        $char: "\E004";
    }

    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
    &:#{$insert} {
        @if $extend {
            @extend %icon;
        } @else {
            @include icon-styles;
        }
        content: icon-char($filename);
    }
}
