<ng-container *ngIf="data as scene">
    <div class="hotspot__product" *ngIf="scene.title">
        <h2 *ngIf="scene.title" [innerHTML]="scene.title | safeHtml"></h2>
        <div *ngIf="scene.intro" class="hotspot__product__intro" [innerHTML]="scene.intro | safeHtml"></div>
    </div>

    <div *ngIf="scene.content?.length" class="hotspot__sections">
        <div *ngFor="let section of scene.content" class="hotspot__section">
            <h3 *ngIf="section.name" [innerHTML]="section.name | safeHtml"></h3>
            <div class="hotspot__section__inner" *ngIf="section.title">
                <div *ngIf="section.image" class="hotspot__section__image">
                    <img src="{{ section.image }}" *ngIf="section.image_type === 'external'; else internalImage">
                    <ng-template #internalImage>
                        <img src="assets/sectors/{{ sector }}/assets/images/{{ section.image }}">
                    </ng-template>
                </div>

                <div class="hotspot__section__content">
                    <h4 [innerHTML]="section.title | safeHtml"></h4>
                    <div *ngIf="section.intro" class="hotspot__section__content__copy" [innerHTML]="section.intro | safeHtml"></div>
                    <ul *ngIf="section.list?.length">
                        <li *ngFor="let item of section.list" [innerHTML]="item | safeHtml"></li>
                    </ul>
                    <a *ngIf="section.cta" href="{{ section.cta.link }}" target="_blank" class="primary icon--chevron-right icon-after">
                        {{ section.cta.title }}
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</ng-container>
