@import 'base/icons/mixins';
@import 'base/colors';
@import 'base/typography';

.hotspot {
    &__product {
        h2 {
            margin-bottom: 15px;
        }
    }

    &__sections {
        &:not(:first-child) {
            margin-top: 50px;
        }
    }

    $section-gap: 35px;

    &__section {
        font-size: 14px;

        &:not(:first-child) {
            margin-top: $section-gap;
        }

        > h3 {
            color: $black;
            margin-bottom: 25px;
        }

        &__inner {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            gap: 30px;
        }

        &__image {
            flex: 3;
        }

        &__content {
            flex: 6;

            > h4 {
                margin-bottom: 10px;
            }

            &__copy {
                @include fs-small();
            }

            > ul {
                &:not(:first-child) {
                    margin-top: 18px;
                }
                &:not(:last-child) {
                    margin-bottom: 0;
                }

                li {
                    @include fs-small();
                }
            }

            > a {
                &:not(:first-child) {
                    margin-top: 18px;
                }
            }
        }

        > hr {
            border: none;
            margin-top: $section-gap;
            border-top: 1px solid #dbdbdb;
        }

        &:last-child {
            > hr {
                display: none;
            }
        }
    }
}
