@mixin respond($map) {
    $string: "only screen";

    @if (map-get($map, min)) {
        $min: map-get($map, min);
        $string: "#{$string} and (min-width: #{$min})";
    }

    @if (map-get($map, max)) {
        $max: map-get($map, max);
        $string: "#{$string} and (max-width: #{$max})";
    }

    @media #{$string}{
        @content;
    }
}

/**
 * Merge multiple maps together. Accepts a list of maps.
 */
@function map-collect($maps...) {
    $collection: ();

    @each $map in $maps {
        $collection: map-merge($collection, $map);
    }

    @return $collection;
}
